%h2 All artifacts
- if store.builds.any?
  %ol
    - store.builds.each do |build, artifacts|
      %li
        %h3 Build #{build}
        %ul
          - artifacts.each do |dir|
            %li
              %a{ href: url("/artifacts/#{build}/#{dir}") }= dir
- else
  %p Nothing found. Have you set up your CI server to post artifacts to Tomb yet?
