!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Tomb
    %link{ rel: 'stylesheet', href: '/styles.css' }
  %body
    #page
      #header
        %h1 Tomb
        - if authenticated?
          #auth
            Logged in as
            %strong= current_user.username
            (#{current_user.api_token})
            %a{ href: url('/logout') } Log out
      = yield
    %script{ src: '/lib.js ' }
